body{
    max-width: 1240px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    position: relative;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loading.gif') 50% 50% no-repeat rgb(0, 0, 0);
}
.mapBack{
    width:1240px;
    overflow: hidden;
    position: absolute;
    #map{
        position: relative;
        transition:all 1s ease;
        width:4400px;
        left:-600px;
        top:-650px;
    }
}
#map.city{
    left:-2700px;
    top:-650px;
    width:4400px;
}
#map.suburb{
    left:-1200px;
    top:-650px;
    width:4400px;
}
#map.rural{
    left:-155px;
    top:-650px;
    width:4400px;
}
#banner{
    width:122.5%;
    position: relative;
    top:20px;
    left:-67px;
    z-index: 3;
}
.nav{
    position:absolute;
    width:100%;
    display:none;
    img{
        position: absolute;
        cursor:pointer;
    }
    #smallBanner{
        width:160px;
        top:20px;
        left:20px;
    }
    #backButton {
        width:70px;
        top:5px;
        right:20px;
    }
}
/* ==============================================
---------------- OPEN  MODAL --------------------
================================================ */
#openModal{
    .modal-content{
        background-color: rgba(255, 255, 255, .8);
        border-radius: 0;
    }
    .modal-header{
        margin-bottom: 0;
        padding-bottom: 5px;
        p{
            text-align: center;
        }
    }
    .modal-footer{
        border:none;
    }
    .modal-body{
        width:100%;
        padding-top: 0;
        .modalCopy{
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            h5{
                font-size: 14.5px;
                font-weight: bold;
            }
        }
        .mapLinks{
            width:310px;
            margin: 0 auto;
            .mapLink{
                text-align: center;
                float:left;
                width:100px;
                margin-bottom: 10px;
                cursor:pointer;
                img{
                    width:45px;
                    height:45px;
                    transition:all .3s ease;
                }
                img:hover{
                    width:40px;
                }
                h5{
                    color: rgb(20,60,105);
                    margin-top: 5px;
                    font-size: 9pt;
                }
            }
        }
        .socialLinks{
            margin: 30px auto;
            width:165px;
            position:relative;
            .social{
                cursor:pointer;
                float:left;
                padding-top: 15px;
                padding:5px;
                img{
                    text-align: center;
                    width:30px;
                    height:30px;
                }
            }
        }
    }
}

/* ==============================================
------------------- BIKE  SCENE -----------------
================================================ */
.containerBike{

}
.bikeScene{
    display:none;
    position: relative;
    top:400px;
    left:151px;
    img{
        width:140px;
        position: absolute;
    }
    .scene{
        
    }
    #bike{
        width:150px;
        top:-30px;
        left:-460px;
        opacity:0;
        transition: all 1.2s ease-out;
    }
    #bike.ride{
        left:80px;
        opacity: 1;
    }
    #yellow{
        top:-330px;
        left:100px;
        opacity:0;
        animation-delay:.5s;
        // -webkit-animation-delay:.5s;
        // -moz-animation-delay:.5s;
        // -ms-animation-delay:.5s;
        // -o-animation-delay:.5s;
    }
    #blue{
        left:-75px;
        top:96px;
        opacity:0;
        animation-delay:2s;
        // -webkit-animation-delay:2s;
        // -moz-animation-delay:2s;
        // -ms-animation-delay:2s;
        // -o-animation-delay:2s;
    }
    #green{
        left:272px;
        top:-79px;
        opacity:0;
        animation-delay:1.5s;
        // -webkit-animation-delay:1.5s;
        // -moz-animation-delay:1.5s;
        // -ms-animation-delay:1.5s;
        // -o-animation-delay:1.5s;
    }
    #red{
        top:-189px;
        left:-24px;
        opacity:0;
        animation-delay:1s;
        // -webkit-animation-delay:1s;
        // -moz-animation-delay:1s;
        // -ms-animation-delay:1s;
        // -o-animation-delay:1s;
    }
    #yellow,#red,#blue,#green{
        cursor: pointer;
    }
}


/* ==============================================
------------------ICON MODALS ------------------
================================================ */
.iconModal{
    margin-top: 80px;
    border-radius: 0;
}
// .modal-backdrop {
//     background-color:white;
// }
.buttonBay{
    margin: 0 auto;
    width:200px;
    color:white;
    font-size: 8pt;
    margin-bottom: 20px;
    button{
        width:200px;
        display: block;
        border:none;
        border-radius: 5px;
        margin-bottom: 5px;
        padding:5px;
    }
    a{
        display:block;
        color:white;
        text-decoration: none;
    }
}
.border{
    border-radius: 0;
    -webkit-box-shadow: 0 0 15px rgb(190,190,190);
    box-shadow: 0 0 15px rgb(190,190,190);
    text-align: center;
}
#redModal{
    button{
        background-color:rgb(230,29,37);
    }
}
#yellowModal{
    button{
        background-color:rgb(255,201,10);
    }
}
#blueModal{
    button{
        background-color:rgb(26,144,208);
    }
}
#greenModal{
    button{
        background-color:rgb(43,179,75);
    }
}
.modalIcon{
    position:relative;
    width:110px;
    top:-60px;
    margin-bottom: 0;
}
.zipField{
    display: none;
    margin-bottom: 30px;
    margin-top: -50px;
    position: relative;
    h3{
        max-width:400px;
        margin:10px auto;
        margin-bottom: 15px;
        font-size: 19px;
    }
    input{
        text-align: center;
    }
    .warning{
        color: red;
        text-align: center;
        height: 22px;
        padding: 10px;
        font-size: 13px;
    }
}
#blueModal .zipField h3{color:rgb(26,144,208);}
#redModal .zipField h3{color:rgb(230,29,37);}
#greenModal .zipField h3{color:rgb(43,179,75);}
#yellowModal .zipField h3{color:rgb(255,201,10);}

#blueModal .zipField input{border:1px dotted rgb(26,144,208);}
#redModal .zipField input{border:1px dotted rgb(230,29,37);}
#greenModal .zipField input{border:1px dotted rgb(43,179,75);}
#yellowModal .zipField input{border:1px dotted rgb(255,201,10);}

.contentMain p{
    margin-top: -50px;
    margin-bottom: 20px;
}
.back_menuModal{
    width:50px;
    cursor:pointer;
    position: absolute;
    right:10px;
    top:5px;
}
/* ==============================================
--------------------- DATA ----------------------
================================================ */
#slideShow{
    max-width: 400px;
    margin:0 auto;
}
.dataPoints{
	display:none;
    margin: 40px auto;
    text-align: center;
    max-width:400px;
    .dataIcon{
        width:110px;
        display:block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .topPerformer{
        font-size: 9pt;
        color:black;
        margin-bottom: 10px;
    }
    p, h3{
        margin:0 auto;
    }
    h3{
        font-size: 14pt;
        margin-bottom: 15px;
    }
    .info{
        height:80px;
        h3{
            font-size: 15pt;
            font-weight: bold;
            max-width:280px;
        }
        .lower{
            position: relative;
            top:10px;
        }
    }
    .info2{
        height:140px;
    }
    .yellowValue .dataValue, .yellowValue h3{
        color:rgb(255,201,10);
    }
    .redValue .dataValue, .redValue h3{
        color:rgb(230,29,37);
    }
    .blueValue .dataValue, .blueValue h3{
        color:rgb(26,144,208);
    }
    .greenValue .dataValue, .greenValue h3, .greenValue2 .dataValue, .greenValue2 h3{
        color:rgb(43,179,75);
    }
    .description{
        font-size: 10.5pt;
        margin-bottom: 10px;
    }
    a{
        display: block;
        margin:0 auto;
        border:none;
        border-radius: 5px;
        color: white;
        font-size: 9pt;
        margin-top:15px;
        padding: 7px;
        width:150px;
    }
    .greenValue a, .greenValue2 a{
        background-color: rgb(43,179,75);
    }
    .yellowValue a{
        background-color: rgb(255,201,10);
    }
    .blueValue a{
        background-color: rgb(26,144,208);
    }
    .redValue a{
        background-color: rgb(230,29,37);
    }
}
.dataValue{
    font-size: 26pt;
    font-weight: bold;
}
.show {
    position: relative;
    height: 300px;
}
.show .showDiv {
    display: none;
    margin: 0 auto;
    // width:320px;
}
.show .selected {
    display: block;
}
.dataButtons {
    position: relative;
    img{
        width: 27px;
        cursor: pointer;
        z-index: 3;
    }
}
.breadCrumbs {
    text-align: center;
    display: inline;
    margin: 0 auto;
    padding-left: 0;
}
.crumb {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: rgb(180,180,180);
}
.description{
    padding-right: 15px;
    padding-left: 15px;
}
.active {
  background-color: rgb(80,80,80);
}

/* ==============================================
-------------- WHAT WORKS MODAL -----------------
================================================ */
#whatWorksModal .iconModal{
    max-width: 540px;
}
#whatWorksBody{
    margin-bottom: 20px;
    .back2{
        width:50px;
        cursor:pointer;
        position: absolute;
        right:10px;
        top:5px;
    }
    .ww_title h1{
        margin-top: -60px;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 4px;
        .ww_next, .ww_prev{
            font-size: 14px;
            cursor: pointer;
        }
    }
    .ww_title h6{
        margin-top: 0;
    }
    .ww_button img{
        width:30px;
        margin-top:-60px;
        cursor:pointer;
    }
    table{
        margin:0 auto;
        text-align:center;
        width:90%;
    }
    hr{
        margin:10px;
        clear:both;
    }
    .ww_mapLinks{
        width:310px;
        margin: 0 auto;
        .mapLink{
            text-align: center;
            float:left;
            width:100px;
            cursor:pointer;
            img{
                width:30px;
                height:30px;
                transition:all .3s ease;
            }
            img:hover{
                width:28px;
                height:28px;
            }
            h5{
                color: rgb(20,60,105);
                margin-top: 8px;
                font-size: 9pt;
            }
        }
    }
    .colorData{
        position: relative;
        text-align: left;
        margin-right: 30px;
        margin-left: 30px;
        max-height:360px;
        overflow-y:scroll;
        h3{font-size: 15px;margin-top: 5px; margin-bottom: 5px;}
        h5{ font-size:13px;}
        h4{font-size: 11px;margin-top:0}
        h4 a{color:black;}
        p{ 
            float:left;
            margin-top:5px; 
            margin-bottom:10px;
            font-size: 12px;
            margin-right: 10px;
        }
        img{
            float:left;
            width:25px;
            display:inline-block;
        }
        hr{
            margin-top: 5px;
            clear: both;
        }
    }
}
#whatWorksBody.wwRed{
    h1, .ww_mapLinks .mapLink h5{
        color: rgb(230,29,37);
    }
    .colorData{
        h3, h3 a, h4 a span, h4{
            color: rgb(230,29,37);
        }
    }
}
#whatWorksBody.wwYellow{
    h1, .ww_mapLinks .mapLink h5{
        color: rgb(255,201,10);
    }
    .colorData{
        h3, h3 a, h4 a span, h4{
            color: rgb(255,201,10);
        }
    }
}
#whatWorksBody.wwGreen{
    h1, .ww_mapLinks .mapLink h5{
        color: rgb(43,179,75);
    }
    .colorData{
        h3, h3 a, h4 a span, h4{
            color: rgb(43,179,75);
        }
    }
}
#whatWorksBody.wwBlue{
    h1, .ww_mapLinks .mapLink h5{
        color: rgb(26,144,208);
    }
    .colorData{
        h3, h3 a, h4 a span, h4{
            color: rgb(26,144,208);
        }
    }
}
#wrapper{
    position: relative;
}

/* ==============================================
-------------- MEDIA QUERIES --------------------
================================================ */

@media only screen and (max-device-width: 1024px) {
//-------------
// iPAD PRO
//-------------
    body{
        width:100vw;
        position: fixed;
    }
    .mapBack {left:0;}
    .mapBack #map {
        width: 4800px; 
        top: -360px;
    }
    .bikeScene {
        top: 770px;
        left: 99px;
        #yellow {top: -485px;}
        #red {
            top: -296px;
            left: -179px;
        }
        #blue {top: 184px;}
    }
    .bikeScene img {width: 180px;}
    .buttonBay button {
        margin-bottom: 10px;
        padding: 10px;
    }
    .dataPoints {margin: 120px auto;}
    #whatWorksBody .colorData {max-height: 800px;}
}

@media only screen and (max-device-width: 768px) {
//-------------
// iPAD
//-------------
    .mapBack {
        width: 100%;
        left:0;
    }
    .mapBack #map {
        width: 4800px; 
        top: -610px;
    }
    .bikeScene {
        top: 540px;
        left: 46px;
        #yellow {top: -485px;}
        #red {
            top: -296px;
            left: -179px;
        }
        #blue {top: 184px;}
    }
    .bikeScene img {width: 180px;}
    #whatWorksBody .colorData {max-height: 600px;}
}

//Cell Phones

@media only screen and (max-device-width: 470px) {
    .mapBack{
        overflow:visible;
      }
    .show div{
        width:auto;
    }
      #banner{
        width:109%;
        left:-37px;
        z-index: 3;
      }
    #smallBanner{
        display:none;
    }
  #openModal{
    }
  .mapBack #map{
    top:-270px !important;
    width:2800px;
  }
  .bikeScene{
    top:328px;
    left:50px;
    img{
        width:125px;
    }
    .scene{
        position: absolute;
    }
    #bike{
        width:136px;
        top:15px;
        left:-460px;
        opacity:0;
        transition: all 1.2s ease-out;
    }
    #bike.ride{
        left:60px;
        top:15px;
        opacity: 1;
    }
    #yellow{
        top:-195px;
        left:91px;
    }
    #blue{
        left:66px;
        top:155px;
    }
    #green{
        left:198px;
        top:4px;
    }
    #red{
        top:-97px;
        left:-15px;
    }
  }
  #map.city{
    left:-2200px;
  }
  .dataButtons {
    #next{
        left:340px;
    }
    #prev{
        left:5px;
    }
  }
    .dataPoints .info{height:170px;}
}
@media only screen and (max-device-width: 414px) {
//-------------
// iPHONE 6 Plus
//-------------
    body{
        width:100vw;
        position: fixed;
    }
    .show div{
        width:auto;
    }
    #greenModal, #redModal, #yellowModal, #blueModal, #whatWorksModal{
        width:100vw;
        height:100%;
    }
    .mapBack{
        #map{
            top:0px;
        }
        #map.rural, #map.city, #map.suburb{
            top:-650px;
        }
    }
  #banner{
    width:122.5%;
    top:20px;
    left:-40px;
  }
  .bikeScene {
    left: 50px;
    }
  #openModal{
    // width:440px;
    // margin:0 auto;
    .modal-body{
        width:100%;
        padding-top: 0;
        .modalCopy{
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
        } 
    }
  }
      #whatWorksBody .colorData{
        max-height: 390px;
        z-index:100;
        overflow-y:scroll;
        position: relative;
    }
    .dataPoints .info {height: 90px;}
}
@media only screen and (max-device-width: 375px) {
//-------------
// iPHONE 6
//-------------
  #banner{
    width:123%;
    left:-41px;
  }
  #openModal{
    width:100%;
  }
  .mapBack #map{
    top:-335px !important;
    width:2800px;
  }
  .bikeScene{
    top:276px;
    left:50px;
    img{
        width:110px;
    }
    .scene{
        position: absolute;
    }
    #bike{
        width:120px;
        top:15px;
        left:-460px;
        opacity:0;
        transition: all 1.2s ease-out;
    }
    #bike.ride{
        left:60px;
        top:15px;
        opacity: 1;
    }
    #yellow{
        top:-195px;
        left:91px;
    }
    #blue{
        left:66px;
        top:155px;
    }
    #green{
        left:198px;
        top:4px;
    }
    #red{
        top:-97px;
        left:-15px;
    }
  }
  #map.city{
    left:-2200px;
  }
  .dataButtons {
    #next{
        left:340px;
    }
    #prev{
        left:5px;
    }
  }

  #whatWorksBody div {
    max-height: 300px;
  }
  #whatWorksBody .colorData{
    max-height: 300px;
    z-index:100;
    overflow-y:scroll;
    position: relative;
  }
  .dataPoints .info {height: 80px;}
  .dataPoints .info2 {height: 160px;}
  .dataPoints {margin: 80px auto;}
}
@media only screen and (max-device-width: 360px) {
//-------------
//GALAXY S5
//-------------
    .bikeScene {
        left: 33px;
    }
    .dataPoints .info {height: 90px;}
    .dataPoints .info2 {height: 175px;}
    .dataPoints {margin: 30px auto;}
    .dataPoints .info h3 {max-width: 220px;}
}
@media only screen and (max-device-width: 320px) {
//-------------
// iPHONE 5
//-------------
    #greenModal .modal-dialog, #blueModal .modal-dialog, #yellowModal .modal-dialog, #redModal .modal-dialog{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #openModal .modal-body .mapLinks .mapLink {
        width: 80px;
    }
    #openModal .modal-dialog{
        width:300px;
        margin: 0 auto;
    }
    #openModal .modal-body .mapLinks {
        width: 260px;
    }
    .modal-dialog {
        margin: 0px;
    }
    #banner {
        width: 126%;
        left: -41px;
    }
    .mapBack {
        #map{
            top:-391px !important;
        }
    }
    .bikeScene {
        top: 221px;
        left:19px;
    }
    .bikeScene #green {
        left: 177px;
        top: -8px;
    }
    .bikeScene #blue {
        left: 84px;
        top: 148px;
    }
    .bikeScene #yellow {
        top: -179px;
        left: 81px;
    }
    .bikeScene #red {
        top: -84px;
        left: -15px;
    }
    #whatWorksModal .iconModal {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #whatWorksBody div {
        max-height: 300px;
    }
    #whatWorksBody .colorData{
        max-height: 270px;
    }
    #whatWorksBody table{
        width:inherit;
    }
    #whatWorksBody .ww_mapLinks{
        width:90%;
        .mapLink{
            width:80px;
        }
    }
}
/* ==============================================
------------------- ANIMATION--------------------
================================================ */

.pulse {
  -webkit-animation: pulse 2700ms linear 4 both;
  animation: pulse 2700ms linear 4 both;
}

.pulse2 {
  -webkit-animation: pulse 2700ms linear 1 both;
  animation: pulse 2700ms linear 1 both;
}

/* Generated with Bounce.js. Edit at https://goo.gl/Q4PVuV */

@-webkit-keyframes pulse { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.96% { -webkit-transform: matrix3d(1.092, 0, 0, 0, 0, 1.092, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.092, 0, 0, 0, 0, 1.092, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.5% { -webkit-transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.95% { -webkit-transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.33% { -webkit-transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.78% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.16% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.83% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.49% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes pulse { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.96% { -webkit-transform: matrix3d(1.092, 0, 0, 0, 0, 1.092, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.092, 0, 0, 0, 0, 1.092, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.5% { -webkit-transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.116, 0, 0, 0, 0, 1.116, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.95% { -webkit-transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.078, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.33% { -webkit-transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.78% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.16% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.83% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.49% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
.bounce {
  -webkit-animation: bounce 1000ms linear both;
  -moz-animation: bounce 1000ms linear both;
  animation: bounce 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/OQUxBZ */


@-webkit-keyframes bounce { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.7% { -webkit-transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.62% { -webkit-transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.52% { -webkit-transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.43% { -webkit-transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.33% { -webkit-transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.05% { -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.86% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.57% { -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.38% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.19% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@-moz-keyframes bounce { 
  0% { -moz-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.7% { -moz-transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -moz-transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.11% { -moz-transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -moz-transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -moz-transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.62% { -moz-transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -moz-transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.52% { -moz-transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.43% { -moz-transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.33% { -moz-transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.05% { -moz-transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.86% { -moz-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.57% { -moz-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.38% { -moz-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.19% { -moz-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes bounce { 
  0% { -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.7% { -webkit-transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.389, 0, 0, 0, 0, 0.389, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.41% { -webkit-transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.916, 0, 0, 0, 0, 0.916, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.11% { -webkit-transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.302, 0, 0, 0, 0, 1.302, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.71% { -webkit-transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.426, 0, 0, 0, 0, 1.426, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.306, 0, 0, 0, 0, 1.306, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.62% { -webkit-transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.077, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.62% { -webkit-transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.887, 0, 0, 0, 0, 0.887, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.52% { -webkit-transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.826, 0, 0, 0, 0, 0.826, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.43% { -webkit-transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97, 0, 0, 0, 0, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.33% { -webkit-transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.071, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.05% { -webkit-transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.971, 0, 0, 0, 0, 0.971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.86% { -webkit-transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.012, 0, 0, 0, 0, 1.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.57% { -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.38% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.19% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


