#map{
    position: fixed;
    width:100%;
}
#banner{
    width:122.5%;
    position: relative;
    top:20px;
    left:-67px;
    z-index: 3;
}
#openModal{
    .modal-content{
        background-color: rgba(255, 255, 255, .8);
        border-radius: 0;
    }
    .modal-header{
        padding-bottom: 5px;
        p{
            text-align: center;
        }
    }
    .modal-body{
        text-align: center;
        margin: 0 auto;
        width:340px;
        padding-top: 0;
        .mapLink{
            margin:0 auto;
            float:left;
            width:100px;
            img{
                width:40px
            }
            h5{
                color: rgb(20,60,105);
                margin-top: 5px;
                font-size: 9pt;
            }
        }
    }
}
h1{
	color:blue;
}

#countyInput{
	display:none;
}

.show {
    position: relative;
    /* necessary to absolutely position the images inside */
    /* same as the images inside */
    height: 100px;
}
.show div {
    position: absolute;
    display: none;
}
.show div:first-child {
    display: block;
    /* overrides the previous style */
}
form{
    padding-top: 20px;
}